font-face{
  src: url(fonts/PlayfairDisplay-Regular.ttf);
  font-family: Playfair Display
}
h1{
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-indent: 30px;
  text-transform: uppercase;
  color: rgba(200, 50, 50, 1);
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 40px;
}

  a{
    text-decoration: none;
    line-height: 10px;
    font-size: 15px
  }

  .aa{
    text-align: center;
  }
